.main-content {
  .container-fluid {
    .headerBar {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr auto;

      .refreshButton {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 22px;
        cursor: pointer;
        height: 36px;

        color: white;
        background: #188C72;
        border-radius: 5px;

        p {
          margin-left: 5px;
        }
        mat-icon {
          justify-self: center;
          font-size: 32px;
          margin-left: 5px;
          margin-right: 10px;
        }
      }
      .active {
        background: #136D5A;
      }
    }
    .topBar {
      display: grid;
      grid-template-columns: auto auto 305px;
      margin-bottom: 5px;

      .listViewButton {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 22px;
        justify-self: left;
        cursor: pointer;
        height: 36px;

        mat-icon {
          justify-self: center;
          font-size: 32px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .filterButton {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 22px;
        justify-self: right;
        cursor: pointer;
        height: 40px;
        border-radius: 5px;
        line-height: 40px;
        vertical-align: middle;
        
        p {
          margin-left: 5px;
        }
        mat-icon {
          justify-self: center;
          font-size: 32px;
          margin-left: 5px;
          margin-right: 10px;
          line-height: 40px;
          vertical-align: middle;
        }
      }
      .active {
        color: white;
        background: #188C72;
      }

      .searchBox {
        justify-self: right;
        width: 300px;
        border: 1px gray solid;
        border-radius: 5px;
      }   
    }

    .filterOptions {
      margin-bottom: 5px;
      padding: 10px;
      border: 1px gray solid;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(4, auto);

      .form-group {
        margin: 5px;

        .radio {
          margin-left: 10px;
        }
      }
    }

    .spinner {
      margin-top: 100px;
      display: grid;
      grid-template-rows: auto auto;
  
      mat-spinner, .marquee {
        margin-top: 10px;
        justify-self: center;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .main-content {
    .container-fluid {
      .topBar {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
          "search search"
          "filter listGrid";

        .searchBox {
          margin-right: 0px;
          margin-bottom: 10px;
          min-width: none;
          width: 100%;
          grid-area: search;
        }

        .filterButtonContainer {
          max-width: none;
          width: 100%;
          grid-area: filter;

          mat-icon {
            margin-left: none;
          }
        }

        .listTypeButton {
          width: 100%;
          grid-area: listGrid;

          mat-icon {
            margin-left: none;
          }
        }
      }
  
      .filterOptions {
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}