.cardContainer {
    margin: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 100%;
    
    overflow: hidden;

    background: #CBCBCB;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.2);

    .topRow {
        justify-self: center;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr auto auto;
        overflow: hidden;
        border-bottom: 2px #E3E3E3 solid;

        color: white;
        background: #4B515D;    
        .jobTitle {
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .jobEmployer {
            font-weight: 200;
            text-align: right;
            font-style: italic;
        }
        mat-icon {
            margin-left: 10px;
            cursor: pointer;
        }
        mat-icon:hover{
            color: #12896e;
        }
    }
    .middleRow {
        display: grid;
        grid-template-columns: 1fr auto;
        overflow: hidden;
        margin: 5px;

        .jobDescription {
            font-size: 14px;
            line-height: 19px;
            height: 76px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100%;
        }

        .modalButton {
            margin-left: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #4B515D;
            color: white;
            cursor: pointer;

            mat-icon {
                height: 100%; width: 100%;
                line-height: 30px;
                font-size: 22px;
                vertical-align: middle;
                text-align: center;
            }
            mat-icon:hover {
                color: #12896e;
            }
        }
    }
    .bottomRow {
        padding: 5px;
        display: grid;
        grid-template-columns: auto auto;
        overflow: hidden;
        border-top: 2px #E3E3E3 solid;
        width: 90%;
        height: 100%;
        justify-self: center;
        
        .jobPayment {
            mat-icon {
                font-size: 20px;
                vertical-align: middle;
            }

        }

        .jobDueDate {
            text-align: right;

            mat-icon {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
}