<div class="cardContainer">

  <div class="topRow">
    <div class="jobTitle">{{job.title}}</div>
    <div class="jobEmployer">{{job.employer}}</div>
    <mat-icon (click)='hideJob()' *ngIf='canHide'>close</mat-icon>
  </div>

  <div class="middleRow">
    <div class="jobDescription">
        {{job.description}}
    </div>
    <div class="modalButton" (click)='openJobModal()'>
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>

  <div class="bottomRow">
    <div class="jobPayment">
      <mat-icon>euro_symbol</mat-icon>
      {{job.payment | number: '.0'}}
    </div>
    
    <div class="jobDueDate">
      <mat-icon>access_time</mat-icon>
      {{job.datePosted | date: 'dd/MM/yyyy'}}
    </div>
  </div>
</div>