@import '../../../variables.scss';

.mat-dialog-container {
  padding: 0px !important;
}

.container {
  width: 70vw;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;

  #header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  mat-icon {
    cursor: pointer;
  }


  #title {
    margin: 15px;
    font-style: italic;
    color: $primary;
    text-align: center;
  }

  small {
    display: block;

    a {
      color: $primary;
    }
  }

  label {
    font-size: 1em;
    color: $primary;
    font-style: italic;
  }

  .feedback {
    color: darkred;
    font-size: 0.8em;
  }

  /deep/ .mat-vertical-stepper-header .mat-step-icon {
    background-color: $primary !important;
  }


  button {
    width: 100%;
    border: none;
  }

  #editor {
    margin-top: 10px;
    padding: 5px;
  }

  .back,
  .upload {
    background-color: $secondary;
    color: $primary;
    border: 1px solid white;
  }

  .modalStyle {
    border-radius: 60px;
    width: 750px;
    padding: 10px;
  }

  .back:hover,
  .upload:hover {
    background-color: white;
    border: 1px solid $primary;
  }

  .next {
    background-color: $primary;
    color: white;
    border: 1px solid white;
  }

  .next:hover {
    color: $primary;
    background-color: white;
    border: 1px solid $primary;
  }
}

.dropdown-item.active {
  background: $primary;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80vh;
  }
}


::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: white;
  border-color: $primary;
  color: $primary;

  padding: 4px;
  border-radius: 3px;
}

::ng-deep .ng-option.ng-star-inserted.ng-option-marked:hover {
  background-color: white;
}

#select:focus {
  border: none;
}
