<div class='blockContainer'>
  <div class="cardContainer">
    <div class='leftCol'>

    </div>
    <div class='midCol'>
      <div class='profilePic'>
        <img src='../../../assets/images/default_user.png' />
      </div>
      <div class='name'>
        {{contact.fName + " "+ contact.lName | titlecase}}
      </div>
      <div class='tagline'>
        {{contact.tagline}}
      </div>
      <button class='btn btn-sm contact'><a href="mailto:{{contact.email}}">Contact</a></button>
    </div>
    <div class='rightCol'>
      <div *ngIf='editing' class="remove">
        <mat-icon (click)='remove()'>close</mat-icon>
      </div>
    </div>
  </div>
</div>