<div class="cardContainer">
  <div class='leftCol'>

  </div>
  <div class='midCol'>
    <div class='profilePic'>
      <img src='../../../assets/images/default_user.png'/>
    </div>
    <div class='name'>
      John Smith
    </div>
    <div class='tagline'>
      Software Developer
    </div>
    <button class='btn btn-sm contact'>Contact</button>
  </div>
  <div class='rightCol'>
    <div *ngIf='editing' class="remove">
      <mat-icon (click)='remove()'>close</mat-icon>
    </div>
  </div>
</div>