@import "../../../variables.scss";

.container {
  width: 70vw;
  height: auto;

  h2 {
    font-style: italic;
    color: $primary;
    text-align: center;
  }

  #typeSelection {
    text-align: center;
  }
}

.secondary:hover {
  background: $primary;
  color: white;
}

#char_count {
  float: right;
}

label {
  font-size: 1em;
  color: $primary;
  font-style: italic;
}

#inputGroupPrepend {
  background: $primary;
  color: white;
}

.primary {
  background: $primary;
  color: white;
}

.primary:hover {
  color: $primary;
  background: white;
  border: 1px solid $primary;
}

.secondary {
  color: $primary;
  background: $secondary;
}

.feedback {
  font-size: 0.8em;
  color: darkred;
}

#remote:checked {
  background: $primary !important;
}
