<div class='cardContainer' *ngIf='!(isLoading$|async)'>
  <div class='topRow'>
    <!-- <h2>Here are you top recommended jobs</h2> -->
    <h2>Here are your recommended jobs</h2>
    <mat-icon (click)='dismiss()'>close</mat-icon>
  </div>
  <div class='bodyContent'>
    <div *ngFor='let job of (fuccJobs$ | async)' class='fuccCard'>
      <h2>{{job.job.title?job.job.title:'null'}}</h2>
      <div class='employerRow'>
        <div class='imgContainer'>
          <img src='../../assets/images/default_user.png' />
        </div>
        <div>{{job.job.employerName?job.job.employerName:'null'}}</div>
      </div>
      <div>Location: {{job.job.remote?'None':job.job.location}}</div>
      <div>Payment: {{job.job.payment?(job.job.payment | currency: "EUR":"symbol":"1.2-2") :'unknown'}}</div>
      <div class='date'>Due: {{job.job.dateDue?(job.job.dateDue | date):'null'}}</div>
      <div>80% match</div>
      <button class='btn btn-sm' (click)='openJob(job)'>See More</button>
    </div>
  </div>