<div class='cardContainer'>
  <div class='topRow'>
    <!-- <h2>Here are you top recommended jobs</h2> -->
    <h2>Here are your fuccing recommended jobs</h2>
    <mat-icon (click)='dismiss()'>close</mat-icon>
  </div>
  <div class='bodyContent'>
    <div *ngFor='let job of fuccJob' class='fuccCard'>  
      <h2>{{job.title?job.title:'null'}}</h2>
      <div class='employerRow'>
        <div class='imgContainer'>
          <img src='../../assets/images/default_user.png'/>
        </div>
        <div>{{job.employerName?job.employerName:'null'}}</div>
      </div>
      <div class='date'>Due Date: {{job.dateDue?(job.dateDue | date):'null'}}</div>
      <button class='btn btn-sm' (click)='openJob(job)'>See More</button>
    </div>
  </div>
</div>