<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://elance.whatever">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.elance.whatever">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            By the E-Lance Team
        </div>
    </div>
</footer>
