.inlineContainer {
    display: inline-block;
    margin: 5px;

    .cardContainer {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr auto;
        
        color: #4B515D;
        background: #CBCBCB;

        box-shadow: 3px 4px 6px rgba(0,0,0,0.2);
        .skillTitle {
            margin-right: 5px;
            vertical-align: middle;
        }
        mat-icon {
            vertical-align: middle;
            justify-self: center;
            cursor: pointer;
        }
    }
}