<div class="inlineContainer">
  <div class="cardContainer">
    <div class="topContainer" (click)="toggleMoreInfo()">
      <div class="skillTitle">{{ skill.skillTitle }}</div>
      <!--
        <mat-icon (click)='openSkillModal()' *ngIf="!editing">keyboard_arrow_down</mat-icon>
      -->
      <mat-icon class="moreInfoIcon">{{
        moreInfo ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}</mat-icon>
      <mat-icon class="removeIcon" (click)="remove()" *ngIf="editing">delete</mat-icon>
    </div>
    <div *ngIf="moreInfo" class="moreInfo">
      <div class="desc">
        <p>Category: {{ skill.category ? skill.category : "no category" }}</p>
        <p *ngIf="!editing">
          Confidence:
          {{
          skill.confidenceLevel ? skill.confidenceLevel : "No Confidence Level Selected"
          }}
        </p>
        <p *ngIf="editing">
          Set Confidence to: {{selectedConfidence}}
        </p>
        <div *ngIf="editing">
          <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="tickInterval"
            (change)="changeLevel()" [(ngModel)]="value"></mat-slider>
          <button class="btn btn-sm primary" (click)="saveConfidenceLevel()">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
