<div class="card">
  <div class="card-header">
    <h2 class="text-center">Add Skills</h2>
    <h6 class="text-center">
      Having multiple skills allows us to find you the perfect freelance
      opportunities
    </h6>
  </div>

  <div class="card-body">
    <form class="form" [formGroup]="skillForm">
      <div class="row">
        <div class="col">
          <ng-select
            [items]="skills"
            [multiple]="true"
            [loading]="skillsLoading"
            [addTag]="addCustomSkill"
            [markFirst]="false"
            [searchFn]="customSearchFn"
            groupBy="category"
            bindLabel="skillTitle"
            placeholder="Choose a skill"
            appendTo="body"
            id="select"
            formControlName="selectedSkill"
          >
            <ng-template ng-option-tmp let-item="item">
              {{ item.skillTitle }} <br />
              <small>{{ item.category }}</small>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="row mr-1 ml-1 mb-2">
        <div class="col">
          <button class="btn btn-block btn-secondary" (click)="dismissForm()">
            I'll do this later
          </button>
        </div>
        <div class="col">
          <button class="btn submit btn-block" (click)="addSkills()">
            Add skills
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
