@import '../../variables.scss';

#select {
  margin: 1em;
}

::ng-deep
  .ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: $primary;
  border-color: $primary;
  color: white;

  padding: 4px;
  border-radius: 3px;
}

::ng-deep .ng-option.ng-star-inserted.ng-option-marked:hover {
  background-color: white;
}

.card-header {
  background-color: #4b515d;
  color: white;
}

.card-body {
  padding: 0;
}
.submit {
  background: $primary;
  color: white;
}
