.modalContainer {
    .modalHeader {
        display: grid;
        grid-template-columns: 1fr auto;

        div {
            font-size: 30px;
            margin-bottom: 20px;
        }

        mat-icon {
            cursor: pointer;
        }
    }
    
    .modalBody {

    }
}