@import '../../../variables.scss';

.inlineContainer {
  display: inline-block;

  .cardContainer {
    margin: 5px;
    padding: 5px;
    display: grid;

    grid-template-rows: repeat(2,auto);

    height: 80px;

    color: white;
    background: $primary;

    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);

    width: auto;
    overflow: hidden;
    cursor: pointer;
    
    div {
      justify-self: center;
    }
    mat-icon {
      justify-self: center;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      font-size: 25px;
      line-height: 0.9em;
      margin-left: 5px;
    }
  }
  .cardContainer:hover {
    color: $primary;
    background: $secondary;
    border: 1px solid $primary;
  }
}
