<form [formGroup]="socialForm">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{account.name !== '' ?
          account.name: "Select
          Type"}}</button>
        <div ngbDropdownMenu>
          <button class="dropdown-item" *ngFor="let social of socials" (click)="socialTypeSelected(social)">{{social |
            titlecase}}</button>
        </div>
      </div>
    </div>
    <input type="url" class="form-control" placeholder="Url of your account..." formControlName="url">
    <div class="feedback" *ngIf="url.touched && !url.valid">
      Please ensure you have selected a site and entered a link
    </div>
  </div>
  <button class="btn add" (click)="addAccount()" [disabled]="!valid">Add Account</button>
</form>
