.modalContainer {
    .modalHeader {
        .timeCollegeRow {
            display: grid;
            grid-template-columns: 1fr auto;

            font-size: 20px;
            .timeContainer {

            }
            .collegeName {

            }
        }
        h2 {

        }
    }
    .modalBody {

    }
}