@import '../../../variables.scss';

.modalContainer {
  padding: 10px;
  .modalHeader {
    .topRow {
      display: grid;
      grid-template-columns: 1fr auto;

      mat-icon {
        cursor: pointer;
      }
    }

    .timeCollegeRow {
      display: grid;
      grid-template-columns: 1fr auto;

      font-size: 20px;
    }
  }
}

.feedback-invalid {
  font-size: 0.8em;
  color: darkred;
}


.primary {
  background: $primary;
  color: white;
}

.primary:hover {
  color: $primary;
  background: white;
  border: 1px solid $primary;
}

.secondary {
  color: $primary;
  background: $secondary;
}

.secondary:hover {
  background: $primary;
  color: white;
}

.container {
  .titleBar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .deleteButton {
      justify-self: right;

      mat-icon:hover {
        color:red;
      }
    }
  }
}