.container {

  #images-container {
    position: relative;
    height: 300px;

    #background-image {
      z-index: 0;

      img {
        height: 300px;
      }
    }

    #profile-image {
      height: 250px;
      width: 250px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border-radius: 50%;
      background: url("https://ubisafe.org/images/person-transparent-stock-1.png") no-repeat;
      background-size: cover;
    }
  }

}
