<div class="main-content">
  <div class="container-fluid">
    <div class="profileHeader">
      <div class="bg-ImgContainer">
        <img src="../../assets/images/profile-background.png" />
      </div>

      <div class="leftCol"></div>

      <div class="midCol">
        <div class="profilePictureContainer">
          <!-- <img src="../../assets/images/stock-steve.jpg" /> -->
          <img src="../../assets/images/default_user.png" />
        </div>

        <div class="nameContainer">
          <h1 *ngIf='!editing'>{{ (user$ | async).fName }} {{ (user$ | async).lName }}</h1>
          <div class='form-group nameEdit' *ngIf='editing'>
            <!-- <label for='firstName'>First Name: </label> -->
            <input type='text' id='firstName' class='form-group' value='{{ (user$ | async).fName }}' style='text-align: right'/>

            <!-- <label for='lastName'>Surname: </label> -->
            <input type='text' id='lastName' class='form-group' value='{{ (user$ | async).lName }}'/>
          </div>
        </div>

        <div class="jobTitleContainer">
          <h2>{{ (user$ | async).tagline }}</h2>
        </div>

        <div class="emailContainer">
          <h4>{{ (user$ | async).email }}</h4>
        </div>

        <div class="socailConnectionContainer"></div>

        <div class="socialConnectionContainer" *ngIf="socialLinks.length > 0">
          <a *ngFor="let connection of socialLinks" href="{{connection.linkUrl}}" target="_blank">
            <img src="../../assets/icons/{{connection.name}}1.png" id="{{connection.name}}" alt="{{connection.name}}" />
          </a>
        </div>
      </div>

      <div class="rightCol">
        <div class="editButton" (click)="toggleEditing()">
          <div>{{ !editing ? "Edit" : "Stop Editing" }}</div>
          <mat-icon>{{ !editing ? "edit" : "close" }}</mat-icon>
        </div>
      </div>
    </div>

    <div class="profileBody">
      <div class="bodyContentContainer summaryContainer">
        <h1>About Me</h1>
        <p *ngIf='!editing'>{{ (user$ | async).summary }}</p>
        <p *ngIf='editing && !summaryEdit' (click)='toggleEditSummary()'>{{ (user$ | async).summary }}</p>
        <textarea *ngIf='editing && summaryEdit' class='form-control' rows='4' autofocus value='{{ (user$ | async).summary}}'></textarea>
      </div>

      <div class="bodyContentContainer">
        <h1>Education</h1>
        <div *ngIf="educationItems" style='margin-top: 3px'>
          <education-card *ngFor="let education of educationItems" [EducationItem]="education" [editing]="editing"></education-card>
          <add-education *ngIf="editing"></add-education>
        </div>
      </div>

      <div class="bodyContentContainer">
        <h1>Skills</h1>
        <div *ngIf="skills" style="margin-top: 3px;">
          <skill-card *ngFor="let skill of skills" [SkillItem]="skill" [editing]="editing" (deleteEmit)="removeSkill($event)"
            (skillChangeEmit)="updateSkills($event)">
          </skill-card>
          <add-card *ngIf="editing"></add-card>
        </div>
      </div>
    </div>
  </div>
</div>
