<div class="main-content">
    <div class="container-fluid">
        <div class="profileHeader">
            <div class="bg-ImgContainer">
                <img src="../../assets/images/profile-background.png"/>
            </div>

            <div class="profilePictureContainer">
                <img src="../../assets/images/stock-steve.jpg"/>
            </div>

            <div class="nameContainer">
                <h1>{{user.fName}} {{user.lName}}</h1>
            </div>

            <div class="jobTitleContainer">
                <h2>Software Developer</h2>
                <h2>{{user.email}}</h2>
            </div>

            <div class="socialConnectionContainer">
                <img src='../../assets/icons/github.png'/>
                <img src='../../assets/icons/facebook.png'/>
                <img src='../../assets/icons/twitter.png'/>
                <img src='../../assets/icons/linkedin.png'/>
            </div>
        </div>

        <div class="profileBody">
                Profile Body
        </div>
    </div>
</div>