@import '../../variables.scss';

.profileHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;

  width: 100%;
  padding-bottom: 30px;

  .bg-ImgContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    align-self: start;

    img {
      width: 100%;
      min-width: 250px;
      height: 150px;
    }
  }
  .leftCol {
    grid-column: 1;
    grid-row: 1;
    min-width: 30px;
  }
  .midCol {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    .profilePictureContainer {  
      border: 4px $accent solid;
      border-radius: 50%;
      justify-self: center;
      align-self: center;
      overflow: hidden;
  
      margin-top: 10px;
      width: 150px;
      background: white;
  
      img {
        width: 100%;
        height: 100%;
  
        max-width: 200px;
      }
    }
  
    .editButton {
      float: right;
    }
  
    .nameContainer {
      margin: 0; padding: 0;
      justify-self: center;
      align-self: center; 
  
      h1 {
        margin-top: 8px;
        color: black;
        font-family: "Segoe UI";
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
      }

      .nameEdit {
        margin: 0; padding: 0;
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-column-gap: 12px;

        overflow: hidden;

        input[type="text"]
        {
          color: black;
          margin: 0; padding: 0;
          cursor: url('../../assets/cursors/copy.svg'), auto;
          font-family: "Segoe UI";
          font-weight: 500;
          font-size: 40px;
          line-height: 40px;
          width: 100%;
          border: none;
          margin: none;
          padding: none;
          overflow: visible;
        }
      }
    }
  
    .jobTitleContainer {
      margin: 0;
      padding: 0;
      justify-self: center;
      width: 100%;
  
      h2 {
        font-family: "Segoe UI";
        font-weight: 250;
        text-align: center;
        font-size: 30px;
      }

      .tagEdit {
        width: 100%;
        margin-bottom: 8px;
        input[type="text"]
        {
          color: black;
          margin: 0; padding: 0;
          cursor: url('../../assets/cursors/copy.svg'), auto;
          font-family: "Segoe UI";
          font-weight: 250;
          text-align: center;
          font-size: 30px;
          width: 100%;
          border: none;
          margin: none;
          padding: none;
          overflow: visible;
        }
      }
    }
  
    .emailContainer {
      margin: 0;
      padding: 0;
      justify-self: center;
  
      h4 {
        font-family: "Segoe UI";
        font-weight: 200;
        text-align: center;
        font-size: 22px;
        font-style: italic;
      }
    }
  
    .socialConnectionContainer {
      margin: 0;
      padding: 0;
      justify-self: center;
  
      height: 30px;
  
      display: grid;
      grid-template-columns: repeat(4, auto);
  
      a {
        display: block;
  
        img {
          width: 100%;
          height: 100%;
          margin: 5px;
          max-width: 50px;
          max-height: 50px;
        }
      }
    }
  }
  .rightCol {
    display: grid;
    grid-column: 3;
    grid-row: 1;

    min-width: 50px;
    .editButton {
      display: grid;
      grid-template-columns: repeat(2,auto);
      grid-column-gap: 5px;
      align-self: start;
      justify-self: right;
      margin: 5px;
      padding: 5px;
      color: white;
      cursor: pointer;
    }
    .editButton:hover {
      color: lightgray;
    }
  }
}

.profileBody {
  display: grid;
  grid-template-rows: auto;

  .draggableContainer {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;

    .handleContainer {
      background: $accent;
      display: grid;
      height: 100%;
      padding: 5px;

      .deleteIcon {
        color: white;
        justify-self: center;
        align-self: flex-start;
        text-align: center;
      }
      .deleteIcon:hover {
        color: red;
      }
      .dragHandle {
        color: white;
        justify-self: center;
        align-self: center;
      }
    }
  }

  .nonDraggableContainer {
    margin-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .profileBody {
    .bodyContentContainer {
      grid-template-columns: 1fr auto;
      grid-column-gap: 100px;

      .dragHandle {
        justify-self: center;
        align-self: center;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .editButton {
    div {
      display: none;
    }
  }
}
