<div class="main-content">
    <div class="container-fluid">
        <div class="profileHeader">
            <div class="bg-ImgContainer">
                <img src="../../assets/images/profile-background.png"/>
            </div>

            <div class="profilePictureContainer">
                <img src="../../assets/images/stock-steve.jpg"/>
            </div>

            <div class="nameContainer">
                <h1>{{user.fName}} {{user.lName}}</h1>
            </div>

            <div class="jobTitleContainer">
                <h2>{{user.tagline}}</h2>
            </div>

            <div class="emailContainer">
                <h4>{{user.email}}</h4>
            </div>

            <div class="socailConnectionContainer">
                
            </div>

            <div class="socialConnectionContainer">
                <img *ngFor='let connection of user.socialLinks' src="../../assets//icons/{{connection.socialPlatformName}}.png" alt="{{connection.SocialPlatformName}}" (click)='openSocial(connection.linkUrl)'/>
                <!-- <img src='../../assets/icons/github.png'/>
                <img src='../../assets/icons/facebook.png'/>
                <img src='../../assets/icons/twitter.png'/>
                <img src='../../assets/icons/linkedin.png'/> -->
            </div>
        </div>

        <div class="profileBody">

            <div class="bodyContentContainer">
                <h1>About Me</h1>
                <p>
                    {{user.summary}}
                </p>
            </div>
            
            <div class="bodyContentContainer">
                <h1>Education</h1>
                <div *ngFor='let education of user.educationItems'>
                    <!-- <education-card></education-card> -->
                    {{education.degreeTitle}}
                </div>
            </div>
            
            <div class="bodyContentContainer">
                <h1>Skills</h1>
                <div>
                    <skill-card></skill-card>
                </div>
            </div>
            
        </div>
    </div>
</div>