@import '../../../variables.scss';
.pageContainer {
    .header, .gridContainer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        justify-items: center;

        button {
            grid-column: auto/-1;
            background: $primary;
            border: none;
            padding: 10px 40px;
        }
    }
}

#search {
    margin: 0 auto;
  }
  
  .mat-menu-content {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 260px;
    max-width: 260px;
    max-height: 500px !important;
    z-index: 5;
  
    .user_grid {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
  
      .user_image {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid darkgray;
        justify-self: center;
        align-self: center;
  
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .user_name {
        font-size: 1.2em;
        align-self: center;
        margin-left: 5px;
        cursor: pointer;
        margin-bottom: 0;
        width: auto;
      }
  
      .user_name:hover {
        color: $primary;
      }
    }
  
    hr {
      margin: 0.5em;
    }
  
  }

.listContainer {
    .noJobsFound {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        height: 100%;

        .centerContainer {
            grid-row: 2;
            grid-column: 2;
            justify-self: center;
            align-self: center;

            display: grid;
            grid-template-rows: auto auto auto;
            
            i {
                height: 100%;
                width: 100%;
                font-size: 60px
            }

            h2 {
                justify-self: center;
                text-align: center;
            }
            div {
                justify-self: center;
                text-align: center;
            }
        }
    }
}


// @media only screen and (max-width: 1400px) {
//     .pageContainer {
//         .gridContainer, .header {
//             grid-template-columns: repeat(5, 1fr);
//         }
//     }
// }

// @media only screen and (max-width: 1200px) {
//     .pageContainer {
//         .gridContainer, .header {
//             grid-template-columns: repeat(4, 1fr);
//         }
//     }
// }

@media only screen and (max-width: 1450px) {
    .pageContainer {
        .gridContainer, .header {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width: 1150px) {
    .pageContainer {
        .gridContainer, .header {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: 600px) {
    .pageContainer {
        .gridContainer, .header {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}