<div *ngIf='members' class='pageContainer'>
    <div class='header'>
        <button *ngIf='editing' class='btn btn-primary btn-sm'>Add members</button>
    </div>
    <div class="gridContainer">
        <contact-card *ngFor='let member of members' [ContactInput]='member' [EditingInput]='editing' (RemoveEmit)='removeMember($event)'></contact-card>
    </div>
</div>
<div *ngIf='!members' class="listContainer">
    <div class="noJobsFound">
        <div class="centerContainer">
            <div class='imgContainer'>
                <i class="far fa-frown"></i>
            </div>
            <h2>No members found</h2>
            <div>When people join your organization, they will be visible here</div>
        </div>
    </div>
</div>