@import '../../../variables.scss';
.pageContainer {
    .header {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;

        button {
            grid-column: 4;
            background: $primary;
            border: none;
            padding: 10px 40px;
        }
    }
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        
        // contact-card {
        //     height: 200px;
        // }
    }
}