<div class="modalContainer">
    <div class="modalHeader">
      <div class="topRow">
      <h1>{{data.title}}</h1>
      <mat-icon (click)='onNoClick()'>close</mat-icon>
      </div>
      <div class="infoRow">
        <div>Employer: {{data.employer}}</div>
        <div>Payment: €{{data.payment | number: '.0'}}</div>
      </div>
      <div class="infoRow">
      <div>Posted: {{data.datePosted | date: 'dd/MM/yyyy'}} {{(data.dateDue)? ('Due: '+data.dateDue | date: 'dd/MM/yyyy'):''}}</div>
      <div>{{(data.location)? ('Location:'+data.location) : ''}}</div>
      </div>
    </div>
    <div class="modalBody">
      {{data.description}}
    </div>
  </div>