<div class="modalContainer" *ngIf="!applicantsVisible">
  <div class="modalHeader">
    <div class="topRow">
      <h1>{{ data.title }}</h1>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
    <div class="infoRow">
      <div>Employer: {{ data.employer }}</div>
      <div>Payment: {{ data.payment | currency: "EUR":"symbol":"1.2-2" }}</div>
    </div>
    <div class="infoRow">
      <div>
        Posted: {{ data.datePosted | date: "dd/MM/yyyy" }}
        {{ data.dateDue ? ("Due: " + data.dateDue | date: "dd/MM/yyyy") : "" }}
      </div>
      <div>{{ data.location ? "Location:" + data.location : "" }}</div>
    </div>
  </div>
  <div class="modalBody">{{ data.description }}</div>
  <div class="modalBottom">
    <button style="background: gray" (click)="onNoClick()">Cancel</button>
    <button style="background: #12896e;" (click)="apply()" *ngIf="!isEmployer">
      Apply
    </button>
    <button
      style="background: #12896e;"
      (click)="showApplicants()"
      *ngIf="isEmployer"
    >
      Show Applicants
    </button>
    <!-- <button mat-button style="width: 80; height: 40; justify-self: end; background: #12896e; color: white;">Apply</button> -->
    <!-- class="btn btn-block primary" -->
  </div>
</div>

<div class="modalContainer" *ngIf="applicantsVisible">
  <div class="modalHeader">
    <div class="topRow">
      <mat-icon (click)="returnToJob()">arrow_back</mat-icon>
      <h1>Applicants for {{ data.title }}</h1>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
    <div class="list-group list-group-flush">
      <li
        class="list-group-item grid-container"
        *ngFor="let user of applicants"
      >
        <div class="img-container">
          <img src="{{ user.avatarUrl }}" class="image" />
        </div>
        <p class="name">
          {{ user.fName + user.lName }}
          <a class="profile" href="#">(View Profile)</a>
        </p>
        <div class="buttons">
          <button class="accept btn btn-sm" (click)="selectUser(user.id)">
            <i class="fas fa-check"></i>Accept
          </button>
          <button
            class="reject btn btn-danger btn-sm"
            (click)="dismissUser(user.id)"
          >
            <i class="fas fa-times"> </i> <span class="dismiss">Dismiss</span>
          </button>
        </div>
      </li>
    </div>
  </div>
</div>
