<div class="modalHeader">
  <!-- leave this space for any extra buttons we might use later on-->
  <div class="contactBtn" *ngIf="data.isOrg">
    <button class="btn btn-block btn-sm" (click)="addMemberToOrg()">
      <mat-icon>person_add</mat-icon> <span>Add to this organization</span>
    </button>
  </div>
  <div class="contactBtn" *ngIf="!data.isOrg">
    <button class="btn btn-block btn-sm" (click)="addContact()">
      <mat-icon>person_add</mat-icon> <span>Add Contact</span>
    </button>
  </div>
  <div class='closeIcon'>
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
</div>
<mat-dialog-content>
  <div class="pageContainer">
    <div class="profileHeader">
      <div class="bg-ImgContainer">
        <img src="../../assets/images/profile-background.png" />
      </div>

      <div class="leftCol"></div>

      <div class="midCol">
        <div class="profilePictureContainer">
          <!-- <img src="../../assets/images/stock-steve.jpg" /> -->
          <img [src]="this.data.user.avatarUrl? this.data.user.avatarUrl : '../../assets/images/default_user.png'" />
        </div>

        <div class="nameContainer">
          <h1>{{ this.data.user.fName }} {{ this.data.user.lName }}</h1>
        </div>

        <div class="jobTitleContainer">
          <h2>{{ this.data.user.tagline }}</h2>
        </div>

        <div class="emailContainer">
          <h4>{{ this.data.user.email }}</h4>
        </div>

        <div class="socialConnectionContainer">
          <div *ngIf="this.data.user.socialLinks">
            <div class="socialConnectionContainer" *ngIf="this.data.user.socialLinks.length > 0">
              <a *ngFor="let connection of this.data.user.socialLinks" href="{{ connection.url }}" target="_blank">
                <img src="{{connection.imageUrl}}" id="{{ connection.url }}" alt="{{ connection.url }}" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="rightCol"></div>
    </div>

    <div class="profileBody" *ngIf="this.data.user.profileCards">
      <div *ngFor="let card of this.profileCards" class="nonDraggableContainer">
        <profile-row [card]="card" [editing]="false"></profile-row>
      </div>
    </div>
  </div>
</mat-dialog-content>
