<mat-dialog-content class="top-modal">
  <div class="main-content">
    <div class="container-fluid">
      <div class="profileHeader">
        <div class="bg-ImgContainer">
          <img src="../../assets/images/profile-background.png" />
        </div>
        <div class="leftCol"></div>
        <div class="midCol">
          <div class="profilePictureContainer">
            <!-- <img src="../../assets/images/stock-steve.jpg" /> -->
            <img src="../../assets/images/default_user.png" />
          </div>

          <div class="nameContainer">
            <h1>
              {{ this.data.fName }} {{ this.data.lName }}
            </h1>
          </div>

          <div class="jobTitleContainer">
            <h2>{{ this.data.tagline }}</h2>
          </div>

          <div class="emailContainer">
            <h4>{{ this.data.email }}</h4>
          </div>

          <div class="socailConnectionContainer"></div>

          <div *ngIf="this.data">
            <div class="socialConnectionContainer" *ngIf="this.data.socialLinks.length > 0">
              <a *ngFor="let connection of this.data.socialLinks" href="{{connection.linkUrl}}" target="_blank">
                <img src="../../assets/icons/{{connection.name}}1.png" id="{{connection.name}}" alt="{{connection.name}}" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="profileBody" *ngIf="this.data.profileCards">
        <div *ngFor='let card of this.profileCards' class="nonDraggableContainer">
          <profile-row [card]='card' [editing]='false'></profile-row>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>