<!--Shows if no org picked-->
<div class="selectPage" *ngIf='org == null'>
  <div class="centerContainer">
    <h1>{{(!user.organisations)?('You are not a member of any organizations'):('Please select an organization')}}</h1>
    <p>{{(!user.organisations)?('Click the button below to create one or check here for invites'):('')}}</p>

    <div class='orgListOuter'>
      <div *ngIf='user.organisations' class='orgList'>
        <div class='orgCard' *ngFor='let o of user.organisations'>
          <div class='logo'>
            <img *ngIf="o.logoUrl === 'filler' || o.logoUrl === undefined" src='../../assets/images/default_organization.png'
              alt='logo' />
            <img *ngIf="o.logoUrl !== 'filler' && o.logoUrl !== undefined" [src]='o.logoUrl' alt='{{o.orgName}}' />
          </div>
          <div class='overlay'>
            <div class='adminRow' *ngIf='isAdminUser(o)'>
              <!-- <img src="../../assets//images/star.png" width="35" height="35"> -->
              <mat-icon class='isAdmin'>star</mat-icon>
              <div class='filler' (click)='openDashboard(o)'></div>
              <mat-icon class='delete' (click)='deleteOrg(o)'>delete</mat-icon>
            </div>
            <div class='filler' *ngIf='o.adminUser != user.id' (click)='openDashboard(o)'></div>

            <div class='botHalf' (click)='openDashboard(o)'>
              <h3>{{o.orgName}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class='addOrg' (click)='openCreate()'>
        <mat-icon>add</mat-icon>
      </div>
    </div>

    <p *ngIf='user.orgInvitations'>You have new invites</p>
    <div *ngIf='user.orgInvitations' class='openInvites' (click)='toggleInvites()'>
      <p>{{invitesOpen?'Close':'Open'}}</p>
      <mat-icon>{{invitesOpen?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
    </div>
    <div class='invites' *ngIf='user.orgInvitations && invitesOpen'>
      <div class='inviteList'>
        <div class='inviteCard' *ngFor='let invite of user.orgInvitations'>
          <div class='logo'>
            <img *ngIf='invite.logoUrl === undefined || invite.logoUrl == "filler"' src='../../assets/images/default_organization.png'
              alt='logo' />
            <img *ngIf='!(invite.logoUrl === undefined || invite.logoUrl == "filler")' [src]='invite.logoUrl' alt='logo' />
          </div>
          <h3>{{invite.orgName}}</h3>
          <div class='actionButtons'>
            <button class='accept btn btn-sm' (click)='acceptInvite(invite)'>
              <mat-icon>done</mat-icon>
            </button>
            <button class='deny btn btn-sm' (click)='rejectInvite(invite)'>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Shows if org is picked-->
<div class='mainPage' *ngIf='org != null'>
  <div class='navTabsContainer'>
    <div class="header">
      <div class='leftCol'>
        <div class='actionButton' (click)='goBack()'>
          <mat-icon>arrow_back</mat-icon>
        </div>
      </div>

      <div class='midCol'>
        <div class='imgContainer'>
          <img *ngIf="!org.logoUrl === undefined || org.logoUrl === 'filler'" src='../../assets/images/default_organization.png' />
          <img *ngIf="org.logoUrl === undefined && org.logoUrl !== 'filler'" [src]='org.logoUrl' />
          <div *ngIf='editing' class='overlay' (click)='editLogo()'>
            <mat-icon>create</mat-icon>
          </div>
        </div>
        <div class='title'>
          <h2 *ngIf='!editing || !editingTitle' (click)='startEditingTitle()'>{{org.orgName}}
          </h2>
          <span class="badge badge-pill pill">{{org.tag}}</span>
          <div></div>

          <input *ngIf='editing && editingTitle' type='text' [(ngModel)]='org.orgName' />
        </div>
        <div class='site'>
          <h6 *ngIf='!editing || !editingSite' (click)='startEditingSite()'>{{org.websiteUrl}}</h6>
          <input *ngIf='editing && editingSite' type='text' [(ngModel)]='org.websiteUrl' />
        </div>
        <div class='description'>
          <!-- <p *ngIf='!editing || !editingBio' (click)='startEditingBio()'>{{org.tagline}}</p> -->
          <markdown *ngIf='!editing || !editingBio' ngPreserveWhitespaces (click)='startEditingBio()'> {{org.tagline}}
          </markdown>
          <textarea *ngIf='editing && editingBio' [(ngModel)]='org.tagline'></textarea>
        </div>
      </div>

      <div class='rightCol'>
        <div class='actionButton' (click)='toggleEditing()'>
          <div>{{ !editing ? "Edit" : "Stop Editing" }}</div>
          <mat-icon>{{ !editing ? "edit" : "close" }}</mat-icon>
        </div>
      </div>

    </div>
    <div class='navTabs'>
      <div matRipple [matRippleCentered]='true' class='tab' *ngFor='let tab of menuItems' (click)='setPage(tab.path)'
        [class.activeRoute]='selectedPage == tab.path'>
        <div class='title'>{{tab.title}}</div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="container-fluid">
      <dashboard-active-jobs *ngIf='selectedPage=="active"' [JobsIn]='org.activeJobs' [OrgIn]='org'></dashboard-active-jobs>
      <dashboard-posted-jobs *ngIf='selectedPage=="posted"' [JobsIn]='org.jobsPosted' [OrgIn]='org' (refresh)="update($event)"></dashboard-posted-jobs>
      <dashboard-contacts *ngIf='selectedPage=="contacts"' [ContactsIn]='org.contacts'></dashboard-contacts>
      <dashboard-members *ngIf='selectedPage=="members"' [MembersIn]='org.members' [EditingIn]='editing'></dashboard-members>
    </div>
  </div>
</div>
