.cardContainer {
    margin-top: 10px;
    display: grid; 
    grid-template-areas: 'leftCol topRow'
                         'leftCol bottomRow';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    height: 200px;

    background: #CBCBCB;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.2);

    .leftColumn {
        padding: 5px;
        grid-area: leftCol;
        display: grid;
        grid-template-rows: 1fr auto auto 1fr;

        color: white;
        background: #4B515D;

        .jobPayment {
            grid-row: 2;
            vertical-align: middle;
            
            mat-icon {
                font-size: 20px;
                vertical-align: middle;
            }
        }
        
        .jobDueDate {
            grid-row: 3;
            vertical-align: middle;

            mat-icon {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
    
    .topRow {
        margin: 5px;
        grid-area: topRow;
        display: grid;
        grid-template-columns: 1fr auto;
        border-bottom: 2px #E3E3E3 solid;
    }

    .bottomRow {
        margin: 5px;
        grid-area: bottomRow;
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 10px;

        .jobDescription {
            // max-height: 50px;
            word-wrap: break-word;
            overflow: hidden;
            font-size: 14px;
            line-height: 18px;
            height: 100%;
            // height: 76px;
        }

        .modalButton {
            margin-left: 10px;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #4B515D;
            color: white;
            cursor: pointer;
            align-self: center;

            mat-icon {
                height: 100%; width: 100%;
                line-height: 30px;
                font-size: 22px;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}