<div class="bodyContentContainer" *ngIf='!((card.content == null || card.content.length < 1) && !editing)'>
  <div class="topRow">
    <h1 *ngIf='!editing'>{{card.title}}</h1>
    <h1 *ngIf="editing && !titleEdit" (click)="toggleEditTitle()">
        {{card.title}}
    </h1>
    <input *ngIf="(editing && titleEdit)" [formControl]='title' class="form-control" value="{{card.title}}"/>
  </div>
  
  <!-- Bio Card -->
  <div *ngIf='card.type == "bio"'>
    <p *ngIf="!editing">{{card.content}}</p>
    <p *ngIf="editing && !summaryEdit" (click)="toggleEditSummary()">
      {{card.content}}
    </p>
    <textarea *ngIf="editing && summaryEdit" [formControl]='summary' class="form-control" rows="4" autofocus
              value="{{card.content}}"></textarea>
  </div>

  <!-- Education Card -->
  <div *ngIf='card.type == "edu"'>
    <div style="margin-top: 3px">
      <education-card *ngFor="let education of card.content" [EducationItem]="education" [editing]="editing"
                      (educationEmit)="addEdu($event)"></education-card>
      <add-education *ngIf="editing" (educationEmit)="addEdu($event)"></add-education>
    </div>
  </div>

  <!-- Skills Card -->
  <div *ngIf='card.type == "skills"'>
    <div style="margin-top: 3px;">
      <skill-card *ngFor="let skill of card.content" [SkillItem]="skill" [editing]="editing" (deleteEmit)="removeSkill($event)"
                  (skillChangeEmit)="changeSkill($event)">
      </skill-card>
      <add-card *ngIf="editing" (skillEmit)="addSkill($event)"></add-card>
    </div>
  </div>
  
  <!-- Job History Card -->
  <div *ngIf='card.type == "jobs"'>
      <div style="margin-top: 3px;">
        <completed-job-card *ngFor="let job of card.content" [JobInput]="job" (deleteEmit)="removeSkill($event)"></completed-job-card>
      </div>
    </div>

  <!-- Custom (Markdown) Card -->
  <div *ngIf='card.type == "custom"'>
    <markdown *ngIf='!editing' ngPreserveWhitespaces> {{card.content}} </markdown>
    <p *ngIf="editing && !summaryEdit" (click)="toggleEditSummary()">
      {{card.content}}
    </p>
    <textarea *ngIf="editing && summaryEdit" [formControl]='customSummary' class="form-control" rows="4" autofocus
              value="{{card.content}}"></textarea>
  </div>

</div>