<div class="main-content">
  <div class="container-fluid">
    <!-- <h2>Messages</h2> -->
    <div class='pageContainer'>
      <div class='contactsList'>
        <div class="topRow">
          <h1>Contacts</h1>
        </div>
        <div class='contactsList'>
          <div *ngFor='let contact of ((user$ | async ).contacts !== undefined) ? (user$ | async).contacts : null;' class='contactRow'>
            <div (click)='openProfile()' class='profilePic'>
              <img src='../../../assets/images/default_user.png'/>
            </div>
            <div (click)='openProfile(contact)' class='name'>{{contact.fName}} {{contact.lName}}</div>
            <div class='tagline'>{{contact.tagline}}</div>
            <div class='messageIcon'>
              <mat-icon (click)='openMessenger(contact)'>message</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class='messageArea'>
        <div class='topRow'>
          <h1>{{(selectedContact != null? selectedContact.fName + ' ' + selectedContact.lName:'Messages')}}</h1>
        </div>
        <div class='noMessages' *ngIf='!(sampleConversation.length > 0)'>
          <div>
              <img src='../../assets/images/no_messages.png' alt='no_messages'/>
              <h1>No messages yet</h1>
          </div>
        </div>
        <div class='messageContent' *ngIf='sampleConversation.length > 0' #messages [scrollTop]="messages.scrollHeight">
          <div *ngFor='let m of sampleConversation'
            [class.sender]='m.senderId == (user$ | async).id'
            [class.sender]='m.senderId == "user2"'
            [class.unseen] ='!(m.isSeen)'>
            <p>{{m.content}}</p>
            <small>{{m.timestamp | date: 'dd/mm/YYYY'}}</small>
          </div>
        </div>
        <form [formGroup]='messageForm'>
          <textarea class='form-control'></textarea>
          <button class='btn btn-primary'>
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>