<div class="main-content">
  <div class="container-fluid">
    <div class='pageContainer'>
      <div class='contactsPanel' *ngIf='contactsShown'>
        <div class="topRow">
          <h1>Contacts</h1>
        </div>
        <div class='contactsList'>
          <div *ngFor='let contact of ((user$ | async ).contacts !== undefined) ? (user$ | async).contacts : null;'
            class='contactRow'>
            <div (click)='openProfile()' class='profilePic'>
              <img src='../../../assets/images/default_user.png' />
            </div>
            <div (click)='openProfile(contact)' class='name'>{{contact.fName}} {{contact.lName}}</div>
            <div class='tagline'>{{contact.tagline}}</div>
            <div class='messageIcon'>
              <mat-icon (click)='openMessenger(contact)'>message</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <mat-icon (click)='toggleContacts()'>{{(contactsShown)?'keyboard_arrow_left':'keyboard_arrow_right'}}</mat-icon>
      <div class='messageArea'>
        <div class='topRow'>
          <h1>{{(selectedContact != null? selectedContact.fName + ' ' + selectedContact.lName:'Messages')}}</h1>
        </div>
        <div class='noMessages' *ngIf='!(sampleConversation.length > 0)'>
          <div>
            <img src='../../assets/images/no_messages.png' alt='no_messages' />
            <h1>{{(selectedContact)?'No messages yet':'Select a contact to start messaging'}}</h1>
          </div>
        </div>
        <div class='messageContent' *ngIf='sampleConversation.length > 0' #messages [scrollTop]="messages.scrollHeight">
          <div *ngFor='let m of sampleConversation' [class.sender]='m.senderId == (user$ | async).id'
            [class.unseen]='!(m.isSeen)'>
            <p>{{m.content}}</p>
            <small>{{m.timestamp | date: 'HH:mm'}}</small>
          </div>
        </div>
        <form [formGroup]='messageForm'>
          <textarea class='form-control'></textarea>
          <button class='btn btn-primary'>
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>