@import '../../../variables.scss';


.sidebar-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  padding-bottom: 0;
  z-index: 1;

  .logoContainer {
    display: grid;
    padding: 10px;
    img {
      justify-self: center;
      width: 100%;
    }
  }

  #searchBtn {
    margin-top: 10px;
    justify-self: center
  }

  .userInfoPanel {
    display: grid;
    grid-template-areas: 'pic top'
      'pic bot';
    grid-template-columns: auto 1fr;
    margin: 10px;

    .profilePic {
      grid-area: pic;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid darkgray;
      justify-self: center;
      align-self: center;

      img {
        width: 100%;
      }
    }

    .topRow {
      align-self: center;
      grid-area: top;

      div {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .bottomRow {
      align-self: center;
      grid-area: bot;

      display: grid;
      grid-template-columns: auto auto 1fr;

      button {
        padding: 2px;
      }

      i {
        border: 1px darkgray solid;
        border-radius: 5px;
        padding: 2px;
        margin: 2px;
        cursor: pointer;
      }

      .fa-sign-out-alt:hover {
        //    background: #d9534f;
        background: #cc0000;
        color: white;
      }
    }
  }
}

#search {
  margin: 0 auto;
}



.mat-menu-content {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 260px;
  max-width: 260px;
  max-height: 500px !important;
  z-index: 5;

  .user_grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    .user_image {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid darkgray;
      justify-self: center;
      align-self: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user_name {
      font-size: 1.2em;
      align-self: center;
      margin-left: 5px;
      cursor: pointer;
      margin-bottom: 0;
      width: auto;
    }

    .user_name:hover {
      color: $primary;
    }
  }

  hr {
    margin: 0.5em;
  }

}

@media only screen and (max-width: 768px) {
  .mat-menu-content {
    position: relative;
    z-index: 10000;
  }

  #search_fields {
    display: grid;
    grid-template-columns: 1fr auto;
  }

}



.green {
  color: $primary;
  font-weight: bold;
  font-size: 1.3em;
  margin: 1px;
}

.greensub {
  color: $primary;
  font-size: 0.8em;
  font-weight: bolder;
  opacity: 0.7;
  border-TOP: 2px solid $primary;
}
