
<div class="sidebar-wrapper">
  <!-- Logo -->
  <div class="logoContainer">
    <img src="../../../assets/images/intellilance-logo-large.png" />
  </div>

  <!-- User Search -->
  <div id="search">
    <form class="form-inline" id="searchBtn" [matMenuTriggerFor]="menu">
      <div class="form-group" id="search_fields">
        <input type="text" class="form-control" autocomplete="off" placeholder="Search users..." name="search" id="search_field"
          #search />
        <button class="btn btn-sm" style="background: #24896e; color: white; align-self: center;" (click)="showResults(search.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <div *ngFor="let user of results; let i = index;">
        <div class="user_grid" (click)="viewProfile(user)">
          <div class="user_image">
            <img src="../../../assets//images/default_user.png">
          </div>
          <p class="user_name">{{user.fName +' ' +user.lName | titlecase}}</p>
        </div>
        <hr *ngIf="i !== results.length-1" />
      </div>
    </mat-menu>
  </div>

  <!-- Actual Navigation Buttons -->
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>

  <!-- User profile options -->
  <div class="userInfoPanel">
    <div class="profilePic">
      <img src='{{((user$|async).avatarUrl)?((user$|async).avatarUrl):"../../../assets/images/default_user.png"}}' />
    </div>
    <div class="topRow">
      <div>
        {{(user$ | async).fName}} {{(user$ | async).lName}}
      </div>
    </div>
    <div class="bottomRow">
      <!-- <i class="fas fa-cog"></i> -->
      <i class="fas fa-sign-out-alt" (click)="logOut()"></i>
    </div>
  </div>
</div>
