<div class="logo">
  <a class="simple-text">
    <div class="logo-img">
      <!-- <img src="../../../assets/images/elance-logo-small.png" /> -->
    </div>
    <span class="green">I</span>ntelli<span class="green">L</span>ance.<span class="greensub">com</span>
  </a>
</div>
<div class="sidebar-wrapper">

  <!-- Notifications in mobile menu -->
  <!-- <div *ngIf="isMobileMenu()" style="border: 2px solid red;">
        <ul class="nav navbar-nav nav-mobile-menu"> 
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Notifications</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
        </ul>
    </div> -->

  <!-- User Search -->
  <div id="search">
    <form class="form-inline" id="searchBtn" [matMenuTriggerFor]="menu">
      <div class="form-group" id="search_fields">
        <input type="text" class="form-control" autocomplete="off" placeholder="Search users..." name="search" id="search_field"
          #search />
        <button class="btn btn-sm" style="background: #24896e; color: white; align-self: center;" (click)="showResults(search.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <div *ngFor="let user of results; let i = index;">
        <div class="user_grid" (click)="viewProfile(user)">
          <div class="user_image">
            <img src="../../../assets//images/default_user.png">
          </div>
          <p class="user_name">{{user.fName +' ' +user.lName | titlecase}}</p>
        </div>
        <hr *ngIf="i !== results.length-1" />
      </div>
    </mat-menu>
  </div>
  <!-- Actual Navigation Buttons -->
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>

  <!-- User profile options -->
  <div class="userInfoPanel">
    <div class="profilePic">
      <!-- <img src="../../../assets/images/stock-steve.jpg" /> -->
      <!-- <img src="../../../assets/images/default_user.png" /> -->
      <img src="{{avatar}}" />
    </div>
    <div class="topRow">
      <div>
        {{(user$ | async).fName}} {{(user$ | async).lName}}
      </div>
    </div>
    <div class="bottomRow">
      <!-- <i class="fas fa-cog"></i> -->
      <i class="fas fa-sign-out-alt" (click)="logOut()"></i>
    </div>
  </div>
</div>
