.pageContainer {
  ngx-spinner {
    display: block;
    width: 100vw;
    height: 100vh;

    h2 {
      color: white;
      padding-top: 150px;
    }
  }
}

// @media only screen and (max-width: 1000px) {
//   ngx-spinner {
//     display: block;
//   }
// }