<div id="background">
  <mat-card class="container">
    <mat-vertical-stepper id="stepper" #stepper>
      <!-- WELCOME -->
      <mat-step>
        <ng-template matStepLabel>Getting Started</ng-template>
        <div class="row">
          <div class="col-md-12 text-center mb-2">
            <img src="../../assets/images/IL_full_transparent.png" width="500" style="width: 100%">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
              We just need some information about you in order to find you some
              great freelance opportunities.
            </p>
          </div>
        </div>

        <!-- TEMPORARY -->
        <button *ngIf="!isProduction" class="btn float-right next" (click)="createTestUser()">
          Use Test User
        </button>
        <!---->

        <button class="btn float-right next" matStepperNext>Get Started</button>
      </mat-step>
      <!-- ABOUT YOU -->
      <mat-step [stepControl]="aboutYouForm">
        <ng-template matStepLabel>About You</ng-template>
        <form [formGroup]="aboutYouForm">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <button class="btn upload mt-3 mb-3" (click)="openUploadModal()">
                Upload Profile Image
              </button>
              <div class="imageContainer">
                <img *ngIf="this.user.avatarUrl" src="{{this.user.avatarUrl}}" alt="your_image">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="tagline">Tagline</label>
                <input type="text" id="tagline" name="tagline" class="form-control" placeholder="eg. Software Developer"
                  formControlName="tagline" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="description">Personal Statement</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Tell us something about you ..."
                  formControlName="description" maxlength="300"></textarea>
                <div class="feedback-invalid" *ngIf="!description.valid && description.touched">
                  This field only accepts up to 300 characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn back" matStepperPrevious>Back</button>
            </div>
            <div class="col">
              <button class="btn next" matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>
      <!-- EDUCATION -->
      <mat-step [stepControl]="educationForm">
        <ng-template matStepLabel>Education</ng-template>

        <div class="row" *ngIf="this.educationAdded.length > 0">
          <div class="col">
            <h5>You have added the following education items</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li *ngFor="let education of educationAdded" (click)="editItem(education)">
                {{ education.degreeTitle }}
                <span *ngIf="education.collegeName">
                  from {{ education.collegeName }} </span><span *ngIf="education.startYear || education.endYear">({{
                  education.startYear }}-{{ education.endYear }})</span>
              </li>
            </ul>
          </div>
        </div>
        <hr *ngIf="this.educationAdded.length > 0" />
        <form [formGroup]="educationForm" (ngSubmit)="addEducation()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="degreeTitle">Degree Title</label>
                <input type="text" class="form-control" id="degreeTitle" formControlName="degreeTitle" placeholder="BSc(Hons) Business" />
                <div class="feedback-invalid" *ngIf="!!degreeTitle.errors?.incorrect">
                  Please enter at least a degree name
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="educationStartDate">Started</label>
              <input type="number" class="form-control" id="educationStartDate" formControlName="educationStartDate"
                placeholder="2012" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="educationEndDate">Finished</label>
              <input type="number" class="form-control" id="educationEndDate" formControlName="educationEndDate"
                placeholder="2016" />
            </div>
          </div>
          <div class="row">
            <div class="feedback-invalid ml-3" *ngIf="
                !educationStartDate.pending && !!educationStartDate.errors?.min">
              Cool Story bro, how was the viking era?
            </div>
            <div class="feedback-invalid  ml-3" *ngIf="
                !educationStartDate.pending && !!educationStartDate.errors?.max">
              Cool Story bro, how are the flying cars?
            </div>
            <div class="feedback-invalid  ml-3" *ngIf="!educationEndDate.valid && educationEndDate.touched">
              Course must have ended after it began ... duh
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <label for="collegeName">College Name</label>
                <input class="form-control" id="collegeName" formControlName="collegeName" type="text" placeholder="IT Sligo" />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <label for="finalGrade">Grade</label>
                <input type="text" class="form-control" id="finalGrade" formControlName="finalGrade" placeholder="1.1" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="educationDescription">Details</label>
                <textarea class="form-control" id="educationDescription" name="educationDescription" rows="3"
                  placeholder="Any detail on projects or grades ..." formControlName="educationDescription"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-danger mt-3 mb-3" id="deleteEducation" [disabled]="!modifySelection" (click)="deleteItem('education')">
                Remove Item
              </button>
            </div>
            <div class="col">
              <button class="btn next mt-3 mb-3" id="addEducation" [disabled]="!educationForm.valid" type="submit">
                Save Education Item
              </button>
            </div>
          </div>
        </form>
        <hr />
        <div class="row">
          <div class="col">
            <button class="btn back" matStepperPrevious>Back</button>
          </div>
          <div class="col">
            <button class="btn next" matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>

      <!-- SOCIAL LINKS -->
      <mat-step>
        <ng-template matStepLabel>Social Links</ng-template>
        <div class="socialConnectionContainer">
          <div class='centering'>
            <div *ngFor="let connection of socialLinks" class='socConnection'>
              <div class='imgContainer'>
                <img src="{{connection.imageUrl}}" alt="{{connection.name}}" />
              </div>
              <div class='delete' (click)='removeSocialLink(connection)'>
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </div>
        </div>


        <app-social-link (emitImageObject)="saveSocialLink($event)"></app-social-link>


        <div class="row">
          <div class="col">
            <button class="btn back" matStepperPrevious>Back</button>
          </div>
          <div class="col">
            <button class="btn next" matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <!-- COMPLETE -->
      <mat-step>
        <ng-template matStepLabel>Finished!</ng-template>
        <h4 style="text-align: center; margin: 20px;">
          Great! You're all set!
        </h4>
        <div class="row">
          <div class="col">
            <button class="btn back" matStepperPrevious>Back</button>
          </div>
          <div class="col">
            <button class="btn next" matStepperNext (click)="createUser()">Lets Go!</button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>
