<div id="background">
  <mat-card class="container">
    <mat-vertical-stepper [linear]="isLinear" id="stepper" #stepper>
      <!-- WELCOME -->
      <mat-step>
        <ng-template matStepLabel>Getting Started</ng-template>
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Welcome to <em>ELance</em></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">We just need some information about you in order to find you some great freelance
              opportunities</p>
          </div>
        </div>


        <!-- TEMPORARY -->
        <button class="btn float-right next" (click)='createTestUser()'>Use Test User</button>
        <!--  -->


        <button class="btn float-right next" matStepperNext>Get Started</button>
      </mat-step>
      <!-- PERSONAL INFO -->
      <mat-step [stepControl]="personalDetailsForm">
        <form [formGroup]="personalDetailsForm">
          <!--Label-->
          <ng-template matStepLabel>Personal Information</ng-template>
          <!--Form-->
          <div class="row">
            <div class="col">
              <p class="float-right"><span class="required">*</span> Required Field</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="fName">First Name <span class="required">*</span></label>
                <input type="text" id="fName" name="fName" class="form-control" placeholder="Joe" formControlName="fName"
                  value="this.user.fName" />
                <div class="feedback-invalid" *ngIf="!fName.valid && fName.touched">
                  Name is required
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="lName">Last Name <span class="required">*</span></label>
                <input type="text" id="lName" name="lName" class="form-control" placeholder="Sample" formControlName="lName"
                  value="this.user.lName" />
                <div class="feedback-invalid" *ngIf="!lName.valid && lName.touched">
                  Surname is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="dob" class="form-control" max="2018-01-01" formControlName="dob" />

                <div class="feedback-invalid" *ngIf="!dob.pending && dob.errors?.min">
                  You cant be THAT old
                </div>
                <div class="feedback-invalid" *ngIf="dob.errors?.max">
                  You cant be born in the future smartass
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">+353</span>
                  </div>
                  <input type="tel" id="phone" name="phone" class="form-control" placeholder="851234567"
                    formControlName="phone" />
                </div>
                <div class="feedback-invalid" *ngIf="!phone.valid && phone.touched">
                  Please enter a valid phone number
                </div>
              </div>
            </div>
          </div>
          <!--Buttons-->
          <div>
            <button class="btn next" matStepperNext [disabled]="!personalDetailsForm.valid">Next</button>
            <button class="btn back" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
      <!-- ABOUT YOU -->
      <mat-step [stepControl]="aboutYouForm">
        <ng-template matStepLabel>About You</ng-template>
        <form [formGroup]="aboutYouForm">
          <div class="row">
            <div class="col">
              <label>Add a profile image</label>
              <!-- <input type="file" id="file" accept="image/*" />
            <label for="file" class="btn btn-block next" id="fileBtn">choose a file</label> -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text next" id="">Upload</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="tagline">Job Title</label>
                <input type="text" id="tagline" name="tagline" class="form-control" placeholder="eg. Software Developer"
                  formControlName="tagline">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="description">Personal Statement</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Tell us something about you ..."
                  formControlName="description" maxlength="300"></textarea>
                <div class="feedback-invalid" *ngIf="!description.valid && description.touched">
                  This field only accepts up to 300 characters
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn next" matStepperNext>Next</button>
            <button class="btn back" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
      <!-- SKILLS -->
      <mat-step [stepControl]="skillForm">
        <ng-template matStepLabel>Skills</ng-template>
        <form [formGroup]="skillForm" (ngSubmit)="addSkill()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="skillTitle">Skill</label>
                <input type="text" id="skillTitle" name="skillTitle" class="form-control" placeholder="eg. JavaScript"
                  formControlName="skillTitle">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="skillDescription">Description</label>
                <textarea class="form-control" id="skillDescription" name="skillDescription" rows="3" placeholder="Your experience with this skill ..."
                  formControlName="skillDescription"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn next" type="submit">Add Skill</button>
            </div>
          </div>
        </form>
        <hr />
        <div class="row">
          <div class="col" id="skills">
            <div *ngFor="let skill of skillsAdded" class="skillItem">
              <!-- <span>{{skill.title}} <span style="color: #12896e" (click)="removeItem(skill)">X</span></span> -->
              <skill-card [SkillItem]=skill [editing]=true (deleteEmit)="removeItem(skill)"></skill-card>
            </div>
          </div>
        </div>
        <hr />
        <div>
          <button class="btn next" matStepperNext>Next</button>
          <button class="btn back" matStepperPrevious>Back</button>
        </div>
      </mat-step>
      <!-- EDUCATION -->
      <mat-step [stepControl]="educationForm">
        <ng-template matStepLabel>Education</ng-template>

        <div class="row" *ngIf="this.educationAdded.length > 0">
          <div class="col">
            <h5>You have added the following education items</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li *ngFor="let education of educationAdded" (click)="editItem(education)">{{education.degreeTitle}}
                <span *ngIf="education.collegeName"> from
                  {{education.collegeName}} </span><span *ngIf="education.startYear || education.endYear">({{education.startYear}}-{{education.endYear}})</span></li>
            </ul>
          </div>
        </div>
        <hr *ngIf="this.educationAdded.length > 0" />
        <form [formGroup]="educationForm" (ngSubmit)="addEducation()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="degreeTitle">Degree Title</label>
                <input type="text" class="form-control" id="degreeTitle" formControlName="degreeTitle" placeholder="BSc(Hons) Business">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="educationStartDate">Started</label>
              <input type="number" class="form-control" id="educationStartDate" formControlName="educationStartDate"
                placeholder="2012" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="educationEndDate">Finished</label>
              <input type="number" class="form-control" id="educationEndDate" formControlName="educationEndDate"
                placeholder="2016" />
            </div>

          </div>
          <div class="row">
            <div class="feedback-invalid ml-3" *ngIf="!educationStartDate.pending && educationStartDate.errors?.min">
              Cool Story bro, how was the viking era?
            </div>
            <div class="feedback-invalid  ml-3" *ngIf="!educationStartDate.pending && educationStartDate.errors?.max">
              Cool Story bro, how are the flying cars?
            </div>
            <div class="feedback-invalid  ml-3" *ngIf="!educationEndDate.valid && educationEndDate.touched">
              Course must have ended after it began ... duh
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <label for="collegeName">College Name</label>
                <input class="form-control" id="collegeName" formControlName="collegeName" type="text" placeholder="IT Sligo" />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <label for="finalGrade">Grade</label>
                <input type="text" class="form-control" id="finalGrade" formControlName="finalGrade" placeholder="1.1" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="educationDescription">Details</label>
                <textarea class="form-control" id="educationDescription" name="educationDescription" rows="3"
                  placeholder="Any detail on projects or grades ..." formControlName="educationDescription"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-danger mt-3 mb-3" id="deleteEducation" [disabled]="!modifySelection" (click)="deleteItem('education')">Remove
                Item</button>
            </div>
            <div class="col">
              <button class="btn next mt-3 mb-3" id="addEducation" [disabled]="!educationForm.valid" type="submit">Save
                Education Item</button>
            </div>
          </div>
        </form>
        <hr />
        <div>
          <button class="btn next" matStepperNext>Next</button>
          <button class="btn back" matStepperPrevious>Back</button>
        </div>
      </mat-step>
      <!-- WORK EXPERIENCE -->
      <mat-step [stepControl]="workExperienceForm">
        <ng-template matStepLabel>Work Experience</ng-template>
        Coming soon
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
      <!-- SOCIAL LINKS -->
      <mat-step [stepControl]="socialForm">
        <ng-template matStepLabel>Social Links</ng-template>
        <form [formGroup]="socialForm">
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="facebook"
                  placeholder="Facebook">
                <div class="input-group-apend">
                  <div class="input-group-image">
                    <img src="../../assets/icons/facebook.png" height="38px" width="38px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="twitter" placeholder="Twitter">
                <div class="input-group-apend">
                  <div class="input-group-image">
                    <img src="../../assets/icons/twitter.png" height="38px" width="38px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="github" placeholder="Github">
                <div class="input-group-apend">
                  <div class="input-group-image">
                    <img src="../../assets/icons/github.png" height="38px" width="38px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="linkedin"
                  placeholder="Linkedin">
                <div class="input-group-apend">
                  <div class="input-group-image">
                    <img src="../../assets/icons/linkedin.png" height="38px" width="38px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div>
          <button class="btn next" matStepperNext>Next</button>
          <button class="btn back" matStepperPrevious>Back</button>
        </div>
      </mat-step>
      <!-- COMPLETE -->
      <mat-step>
        <ng-template matStepLabel>Finished!</ng-template>
        Thank you for filling out your details!
        <div>
          <button class="btn next" (click)="createUser()">Get Started!</button>
          <button class="btn back" matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>