<div *ngIf='(contacts.length > 0)' class='pageContainer'>
        <div class='header'>
        </div>
        <div class="gridContainer">
                <contact-card *ngFor='let contact of contacts' [ContactInput]='contact'></contact-card>
        </div>
    </div>
<div *ngIf='!(contacts.length > 0)' class="noneFound">
    <div class="centerContainer">
        <div class='imgContainer'>
            <i class="far fa-frown"></i>
        </div>
        <h2>No contacts found</h2>
        <div>If you hire a freelancer, they will appear here</div>
    </div>
</div>