// .container-fluid {
.pageContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header contacts"
                         "active contacts"
                         "posted contacts";

    .header {
        grid-area: header;
    }

    .contactsList {
        grid-area: contacts;
    }
}