<div class="main-content">
  <div class="container-fluid">
    <div class='pageContainer'>
      <div class="header">
        <h2>User Dashboard</h2>
      </div>
      
      <div class='pageBody'>
        <div class="cardContainer activeJobs">
          <div class="topRow">
            <h1>Active Jobs</h1>
          </div>
          <div class='cardContent'>
            <dashboard-job-card *ngFor='let job of user.activeJobs' [JobInput]='job'></dashboard-job-card>
          </div>
        </div>

        <div class="cardContainer appliedJobs">
            <div class="topRow">
              <h1>Applied Jobs</h1>
            </div>
            <div class='cardContent'>
              <dashboard-job-card *ngFor='let job of user.appliedJobs' [JobInput]='job'></dashboard-job-card>
            </div>
          </div>

        <div class="cardContainer postedJobs">
          <div class="topRow">
            <h1>Posted Jobs</h1>
          </div>
          <div class='cardContent'>
            <!-- <dashboard-job-card *ngFor='let job of user.postedJobs' [JobInput]='job'></dashboard-job-card> -->
          </div>
        </div>

        <contacts-card></contacts-card>
      </div>
    </div>
  </div>
</div>
