<div class="main-content">
  <div class="container-fluid">
    <h2>User Dashboard</h2>
    <h4>Active Jobs</h4>
    <drag-scroll [scrollbar-hidden]>
      <active-job-card drag-scroll-item *ngFor='let job of jobs' [JobInput]='job'></active-job-card>
    </drag-scroll>
    <h4>Posted Jobs</h4>
    <drag-scroll [scrollbar-hidden]>
        <inactive-job-card drag-scroll-item *ngFor='let job of jobs' [JobInput]='job'></inactive-job-card>
      </drag-scroll>
    <h4>Contacts</h4>
    <drag-scroll [scrollbar-hidden]>
      <inactive-job-card drag-scroll-item *ngFor='let job of jobs' [JobInput]='job'></inactive-job-card>
    </drag-scroll>
    <!-- <div class="cardRow"> -->
      <!-- <contact-card></contact-card> -->
    <!-- </div> -->
  </div>
</div>
<button class="btn primary" (click)="openModal()">Create a job</button>

<ng-template #prev>
  <mat-icon class="carouselArrow">keyboard_arrow_left</mat-icon>
</ng-template>
<ng-template #next>
  <mat-icon class="carouselArrow">keyboard_arrow_right</mat-icon>
</ng-template>
<ng-template #job let-job let-i='index'>
  <active-job-card [JobInput]='job'></active-job-card>
</ng-template>