<div class="navContainer" [class.example-is-mobile]='mobileQuery.matches'>
  <mat-sidenav-container class="navContainer" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'">

      <mat-nav-list class="navSidebar">
        <ul>
          <li><a mat-list-item routerLink="user-dashboard">Home</a></li>
          <li><a mat-list-item routerLink="browse-jobs">Browse Jobs</a></li>
          <li><a mat-list-item routerLink="mesasages">Messages</a></li>
          <li><a mat-list-item routerLink="organization-dashboard">Organizations</a></li>
          <li><a mat-list-item routerLink="user-profile">User Profile</a></li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenavContent">
      <mat-toolbar class="navToolbar">
        <ul>
          <li><mat-icon class="navIcon" (click)="snav.toggle()">menu</mat-icon></li>
          <li><mat-icon class="navIcon" routerLink='user-dashboard'>home</mat-icon></li>
          <li><mat-icon class="navIcon" routerLink='browse-jobs'>find_in_page</mat-icon></li>
          <li><mat-icon class="navIcon" routerLink='messages'>message</mat-icon></li>
          <li><mat-icon class="navIcon" routerLink='organization-dashboard'>group</mat-icon></li>
          <li><mat-icon class="navIcon" routerLink='profile-menu'>face</mat-icon></li>
        </ul>
      </mat-toolbar>

      <div class="pageContainer">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>