.navContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    .navSidebar {
        margin: 0; padding: 0;
        display: grid;
        height: 100%;
        overflow: hidden;
        ul{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(6,1fr);
            list-style: none;
            background: #CBCBCB;
                
            .imageContainer{
                img {
                    margin: 0; padding: 0;
                    max-width: 150px;
                    max-height: 100px;
                }
            }

            li {   
                margin: 0; padding: 0;
                a {
                    font-size: 30px;
                }
            }
        }
    }

    .sidenavContent {
        display: grid;
        grid-template-columns: auto 1fr;
        overflow: hidden;

        .navToolbar {
            margin: 0; padding: 0;
            height: 100%;
            display: grid;

            //Icon-only navbar
            ul {
                background: #CBCBCB;
                margin: 0; padding: 0;
                height: 100vh;
                display: grid;
                grid-template-rows: auto;
                list-style: none;

                li {
                    margin: 0; padding: 0;
                    display: block;
                    width: 100%;

                    mat-icon {
                        margin: auto;
                        font-size: 50px;
                        min-width: 50px;
                        min-height: 50px;
                        color: #000000;
                        text-align: center;
                    }
                }
            }
        }
    }
}
