@import "../../../variables.scss";

.modalContainer {
    .modalHeader {
        padding: 10px;

        .topRow {
            display: grid;
            grid-template-columns: 1fr auto;

            h1 {
                width: 100%;
                text-align: center;
                color: $primary;
            }

            mat-icon {
                cursor: pointer;
            }
        }
        .infoRow {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 20px;

            font-size: 20px;

            div{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:450px)
{
    .modalContainer {
        .modalHeader {
            .infoRow {
                grid-template-columns: 1fr;
            }
        }
    }
}