@import "../../../variables.scss";

.modalContainer {
  .modalHeader {
    padding: 10px;

    .topRow {
      display: grid;
      grid-template-columns: 1fr auto;

      h1 {
        width: 100%;
        text-align: center;
        color: $primary;
      }

      mat-icon {
        cursor: pointer;
      }
      mat-icon:hover {
        color: $primary
      }
    }

    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;

      font-size: 20px;
    }
  }

  .buttons {
    margin-top: 20px;
    display: grid;
    justify-items: center;

    button {
      color: white;
      background: $primary;
      border: 1px $primary solid;
    }

    button:hover {
      color: $primary;
      background: white;
    }
  }
}


.admin-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .pill {
    justify-self: center;
    grid-column: 2;
    background: $primary;
    color: white;
    padding: 10px;
    align-self: center;
  }

  .chat {
    justify-self: right;
    grid-column: 3;
    background: $primary;
    color: white;
    padding: 10px;


  }
}

@media only screen and (max-width:450px) {
  .modalContainer {
    .modalHeader {
      .infoRow {
        grid-template-columns: 1fr;
      }
    }
  }
}
