<form [formGroup]="socialLinks">
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-image">
        <img src="{{socialLinkImageUrl}}" (error)="this.setDefault()" height="38px" width="38px" />
      </div>
    </div>
    <input type="url" class="form-control" id="inlineFormInputGroup" formControlName="socialLink" placeholder="https://intellilance.com/" />
    <div class="input-group-append">
      <button (click)="save()" matRipple>
        <mat-icon>add
        </mat-icon>
      </button>
    </div>
  </div>
</form>
