.testCardContainer {
    display: inline-block;
    .cardContainer {
        margin: 5px;
        display: grid;
        grid-template-rows: repeat(2,auto);

        color: #4B515D;
        background: #CBCBCB;

        box-shadow: 3px 4px 6px rgba(0,0,0,0.2);

        .topRow {
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr auto;
            font-weight: 500;

            .modalButton {
                margin-left: 10px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #4B515D;
                color: white;

                mat-icon {
                    height: 100%; width: 100%;
                    line-height: 30px;
                    font-size: 22px;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
        .bottomRow {
            padding: 5px;
            display: grid;
            grid-template-columns: auto auto;   
            
            color: white;
            background: #4B515D;

            .durationContainer {
                display: grid;
                grid-template-columns: auto auto auto;

                mat-icon {
                    align-self: center;
                    height: 100%;
                }
                .yearContainer {
                    height: 100%;
                    vertical-align: center;
                }
            }
            .collegeName {
                align-self: center;
                text-align: right;
                font-style: italic;
            }
        }
    }
}